docker/
docker-compose.yml
vendor/**/test*
vendor/**/tests*
vendor/**/Tests*

**/*node_modules

_ide_helper*.php
**.git
.idea
**.gitignore
**.gitattributes
**.sass-cache
.env.*
.styleci.yml

webpack.mix.js
package.json
README.md
